---
// Astro Imports - Components & Globas
import '@/styles/globals.css'
import '@fontsource/inter'
import '@fontsource-variable/inter'
import Footer from '@/components/layout/Footer.astro'
import HeadSEO from '@/components/layout/HeadSEO.astro'
import Navbar from '@/components/layout/Navbar.astro'
import { type CollectionEntry } from 'astro:content'

// Props imterface
interface Props {
  title?: string | undefined
  description?: string | undefined
  ogImage?: URL | undefined
  url?: URL | undefined
  post?: CollectionEntry<'blog'>
}

// Astro Props
const { title, description, ogImage, url, post } = Astro.props

// Translation Imports
import { getLangFromUrl } from '@/i18n/utils'
const lang = getLangFromUrl(Astro.url)
---

<!doctype html>
<html lang={lang} data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script
      src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
      type="module"></script>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script
      src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
      type="module"></script>
    <HeadSEO
      title={title}
      description={description}
      ogImage={ogImage}
      url={url}
      post={post}
    />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WVVRPDML"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <div class="relative flex min-h-screen flex-col">
      <Navbar />
      <main class="flex-auto">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
